#!/bin/sh

{{ if eq .chezmoi.os "darwin" -}}
defaults write com.googlecode.iterm2 PrefsCustomFolder -string "~/.config/iterm2"
defaults write com.googlecode.iterm2 LoadPrefsFromCustomFolder -bool true
{{ end -}}