{{- $name := promptStringOnce . "name" "請輸入您的姓名" -}}
{{- $email := promptStringOnce . "email" "輸入您的Email地址" -}}
sourceDir = "~/.local/share/chezmoi"

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
