{{ if and (eq .chezmoi.os "darwin") (stat (print "/etc/bashrc")) }}
# ----取自 /etc/bashrc 預設內容 ----------------------------------------------
{{ include "/etc/bashrc" | trim }}
{{ else if (stat (print "/etc/skel/.bashrc")) }}
# ----取自 /etc/skel/.bashrc 預設內容 ----------------------------------------
{{ include "/etc/skel/.bashrc" | trim }}
{{ end }}

# ----以下是我的自訂內容 ------------------------------------------------------
export LANG=zh_TW.UTF-8 #macOS要手動指定，不然被ssh連入使用時會變亂碼
{{ template "common.sh.tmpl" . }}

